*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    &::selection{
        background-color: black;
        color: red;

    }

}

section, header, footer{
    background-color: #2B2B2B;

}

.mashroom{
    z-index: -9999;
    width: 100%;
    position: fixed;


}

button{
    cursor: pointer;

}

section{
    padding: 80px 0;

}

.section-subtitle{
    font-weight: 400;
    font-size: 22px;

}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

body{
    /* font-family: "Poppins", sans-serif; */
    background-color:  #2B2B2B;

    color: white;

    font-family: "WorkSans";

}

.section-title{
    font-size: 38px;
    font-weight: 600;



}

.subtitle{
    font-size: 22px;
    font-weight: 400;


}

.container{
    width: 100%;
    max-width: 1050px;

    padding: 0 15px;
    margin: 0 auto;

}


.container-max{
    width: 100%;
    max-width: 1180px;

    padding: 0 15px;
    margin: 0 auto;

}





.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0 20px 0;

}

.menu { 
    display: flex;
    gap: 50px;
    align-items: center;

        
    a{

    font-size: 16px;
    font-weight: 600;

    }
}
.btn1 {

    background-color:#A259FF;
    color: white;

    font-family: "WorkSans";
    font-size: 16px;
    font-weight: 600;

    max-width: max-content;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 20px 30px;
    border-radius: 30px;

}

.btn2 {
    background-color:transparent;
    color: white;

    font-family: "WorkSans";
    font-size: 16px;
    font-weight: 600;

    max-width: max-content;

    border: 1px solid #A259FF;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 20px 30px;
    border-radius: 30px;
}

.weenf{
    border-radius: 20px 20px 0 0;

}


.hero__wrap {

display: flex;
gap: 30px;
}
.hero__left {
    
    display: flex;
    gap: 30px;

    flex-direction: column;
    align-items: start;
    

    h1{
        font-family: "WorkSans";
        font-weight: 600;
        font-size: 67px;

        text-transform: capitalize;

    }

    p{
        font-size: 22px;

    }

}
.hero__inner {
    display: flex;
    gap: 60px;

}

.hero__content {
    background-color: #3B3B3B;
    display: flex;
    flex-direction: column;

    padding: 20px 22px;

    gap: 10px;

    span{
        display: flex;
        align-items: center;
        gap: 15px;

        margin: 10px 0 0 0;

    }

}

/* creators */


.creators__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.creators__wrapper {
    display: flex;
    gap: 30px;

    margin: 60px 0 0 0;

    flex-wrap: wrap;
}
.creators__card {
    background-color: #3b3b3b;
    padding: 20px;

    text-align: center;

    border-radius: 20px;

    /* width: 232px; */
    width: 22.79%;

    h5{
        position: absolute;

        background-color: #2B2B2B;

        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

/* trend */


.trend__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-title {
    margin: 0 0 10px 0;
}

.trend__wrapper {
    display: flex;
    gap: 30px;
    padding: 80px 0 0 0;
}


.trend__box {
    display: flex;
    gap: 15px;
}

.trend__card-auther {
    display: flex;
    align-items: center;
    gap: 12px;
}



.mashroom-vive{
    width: 100%;
    height: 841px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;

}



/* niger */

.browse__block{
    width: 100%;

}

.browse{
    width: 100%;


    h2{
     padding: 80px 0;


    }

}

.browse__block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

    justify-content: space-between;
    
    width: 100%;


}

.browse-s{
    align-self: start;
    margin: 25px 0 0 30px;
    font-size: 22px;
    font-weight: 600;


}

.overflow{
    overflow: hidden;

}

.niger{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    overflow: hidden;

    width: 240px;
    height: 320px;
    background-color: #3B3B3B;
    border-radius: 20px;

    margin: 0 0 20px 0;

    cursor: pointer;

    &:hover{
        img{
            filter: blur(0);
        }

    }

    svg{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 70px;



    }


}

.img-blur{
    width: 240px;
    transition: .5s;
    filter: blur(5px);

}

/* how& */

.how__main{
    padding: 30px 0;
    width: 100%;

}

.how__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    align-content: start;

    width: 100%;
    height: 440px;

    margin: 50px 0 0 0;

    

}

.how__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;

    width: 330px;
    height: 365px;

    background-color: #3B3B3B;
    border-radius: 20px;

    padding: 0 10px;

    h4{
        font-size: 22px;
        font-weight: 600;

    }

    p{
        font-size: 16px;

    }

    svg{
        width: 200px;
        height: 200px;

    }



}

/* discover */

.discover {
}

.discover__top {
    display: flex;
    justify-content: space-between;
}

.discover__cards {
    display: flex;

    gap: 30px;
    margin: 60px 0 0 0;

}
.discover__card {
    background-color: #3b3b3b;

}

.discover__name{
    margin: 5px 0 0 0;

}

.dicover__card-img {
}
.discover__box {
    padding: 20px 30px 25px;

}

.doscover__card-price {
    display: flex;
    justify-content: space-between;

    margin: 15px 0 0 0;
    gap: 25px;

    p{
        opacity: 0.5;

    }

}

/* rewager */

.join {
}

.join__wrapper {
    background-color: #3B3B3B;
    padding: 60px;

    border-radius: 20px;
    display: flex;
    align-items: center;

    gap: 80px;
}

.img-join {

}


.footer__box,
.join__box {

    form{
        display: flex;
        margin: 40px 0 0 0;


        input{
            padding: 0 20px;
            border: none;

            border-radius: 20px 0 0 20px;

        }

        button{
            position: relative;
            left: -30px;

        }

    }

}

.logo-footer{
    margin: 0 0 35px;

}

.footer__wrapper{
    display: flex;
    justify-content: center;
    gap: 85px;

}

.footer__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: min-content;

    h3{
        margin: 0 0 25px 0;

    }

}

.footer__icons{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 32px;
        height: 32px;

    }

}